* {
  box-sizing: border-box;
  font-family: "Baskervill Old Fase";
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0.5em;
  text-align: center;
}

.container {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.bookData, .bookIntro, .bookContent {
  margin: 0 auto;
  width: 90%;
}

.bookContent ul {
  list-style: none;
}

@media (min-width: 426px) {
  .container {
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: auto;
    margin: 0 auto;
    width: 92%;
  }

  .bookData {
    margin: 0;
    width: 100%;
  }

  .bookIntro {
    width: 400px;
  }

  .bookContent {
    margin-left: 300px;
    width: 400px;
  }

  .bookContent ul {
    columns: 3;
    padding-left: 0;
    list-style: none;
  }
}
@media (min-width: 769px) {
  h1 {
    padding-top: 10px;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .bookData {
    margin-right: 0.5em;
    width: 300px;
  }

  .bookIntro {
    width: 300px;
  }

  .bookContent {
    margin-left: 0.5em;
    width: 300px;
  }

  .bookContent ul {
    columns: 1;
    padding-left: 1.5em;
    list-style: disc;
  }
}